.main-header {
    padding: 1.5rem 0;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
}

.logo {
    max-width: 200px;  /* Ajusta a largura máxima para um tamanho mais adequado */
    width: 100%;       /* Garante que o logo seja responsivo */
    height: auto;
    display: block;
    margin: 0 auto;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
}