/* === Login Page Specific Styles === */
.container {
    max-width: 50px;
}

p {
    text-align: center;
    margin-top: 1.5rem;
}

.forgot-password {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}